<div class="container">
  <div class="row">
    <div class="col-md-6"><h3>Có {{listBook.length}} cuốn sách</h3></div>
    <div class="col-md-6">
      <div class="float-md-end">
        <button class="float-md-end" routerLink="/create">Thêm sách mới</button>
      </div>
    </div>
  </div>
  <div class="row">
    <table class="table table-success table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>Tên sách</th>
        <th>Tác giả</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <ng-container>
        <tr *ngFor="let book of listBook;index as i">
          <td class="fw-bold">{{i + 1}}</td>
          <td><a [routerLink]="['/book-detail',book.id]">{{book.title}}</a></td>
          <td>{{book.author}}</td>
          <td>
            <button class="btn btn-danger list-btn" [routerLink]="['/delete',book.id]">Xóa </button>
            <button class="btn btn-success list-btn" [routerLink]="['/edit',book.id]"> Sửa</button>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>
