<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2">
      <h3>Thêm sách mới</h3>
    </div>
  </div>
  <div class="row">
    <form [formGroup]="formCreate" (ngSubmit)="createNewBook()">
      <div class="col-md-8 offset-2">
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label fw-bold">Tên</label>
          <div class="col-sm-10">
            <input type="text" formControlName="title" class="form-control" required="required">
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label fw-bold">Tác giả</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="author">
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label fw-bold">Mô tả</label>
          <div class="col-sm-10">
            <textarea type="text" class="form-control" formControlName="description"></textarea>
          </div>
        </div>
        <div class="mb-3 row">
          <div class="col-sm-2"></div>
          <div class="col-sm-10 row">
            <div class="col-md-3">
              <button type="submit">Thêm sách</button>
            </div>
            <div class="col-md-3">
              <button routerLink="">Thoát</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
